@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Patient
@{
    ViewData["Title"] = "Simulation Diag";
}


<h4 class="display-4 text-center">Diagnostic du patient : @Model.Nom</h4>

<br></br>
<br>

<h4 class="display-4 text-center">Maladie</h4>
<br>

<div class="row">
    <div class="col">
        <h3 class="fw-lighter text-center">Trace des Maladies</h3>
        @foreach (var maladieDiag in ViewBag.maladiediagsNonParfait)
        {
            <h5 class="text-center"><b>@maladieDiag.Key.Nom : </b>@maladieDiag.Value %</h5>
        }
    </div>
    <div class="col">
        <h3 class="fw-lighter text-center">Vos Maladies</h3>
        @foreach (var item in ViewBag.maladiediags)
        {
            <h5 class="text-center"> @item.Nom </h5>
        }
        
    </div>
</div>

<br></br>
<h4 class="display-4 text-center">Medicament</h4>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">nomMedicament</th>
            <th scope="col">Quantite</th>
            <th scope="col">PrixUnitaire</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.repMedicaments)
        {
            <tr>
                <th>@item.Nom</th>
                <th>@item.Quantite</th>
                <td>@item.Prix</td>
            </tr>
        }

    </tbody>
</table>
